* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  color: white;
  padding: 14px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav,
section {
  display: flex;
  align-items: center;
  gap: 14px;
}

.white-link {
  color: white;
}

.grey-link {
  color: lightgray;
}

a {
  text-decoration: unset;
}

a:hover {
  text-decoration: underline;
}
/* will push the footer all the way down the page*/
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
